<% layout('layout_main') %>
<div class="flex-container">
    <div class="sidebar flex-1 invert">
        <div class="sidebar-box">
            <div align="center">
                <img class="round-border-image margin-1" src="<%= user.profile_pic %>">
                <h1 class="margin-1"><%= user.name %></h1>
                <h2 class="margin-1"><%= user.handle %></h2>
            </div>
            <h3 class="margin-1">About <%= user.name %></h3>
            <hr/>
            <h3 class="margin-1">Email: <%= user.email %></h3>
            <% if(user.website) {%>
                <h3 class="margin-1">Website: <a href="<%= user.website %>"><%= user.website %></a></h3>
            <% } %> 
            <% if(user.company) {%>
                <h3 class="margin-1">Works at <%= user.company %></h3>
            <% } %> 
            <% if(user.institute) {%>
                <h3 class="margin-1">Studied at <%= user.institute %></h3>
            <% } %> 
            <h3 class="margin-1">Joined: <%= user.joined %></h3>
        </div>
    </div>
    <div class="center-flex flex-1">
        <div class="flex-container space-around">
            <div class="text-container margin-1 overflow-hidden flex-1" style="min-width: 350px">
                <h2 class="bottom-text">Rating</h2>
                <h1 class="padding-5">Unrated</h1>
            </div>
            <div class="text-container margin-1 overflow-hidden flex-1" style="min-width: 350px">
                <h2 class="bottom-text">Problems solved</h2>
                <h1 class="padding-5">0/5000</h1>
            </div>
            <div class="text-container margin-1 overflow-hidden flex-1" style="min-width: 350px">
                <h2 class="bottom-text">Submissions</h2>
                <h1 class="padding-5">0</h1>
            </div>
        </div>
        <h1 class="margin-1">Last problem you couldn't solve</h1>
        <div class="text-container padding-1">
            <h1>Hello world</h1>
            <p class="text-overflow-ellipsis">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis libero distinctio sequi obcaecati ipsam, iure odit molestiae magni aut consectetur deleniti nobis necessitatibus et inventore excepturi dolorem consequatur perspiciatis sint!</p>
            <div class="tags-container">
                <span class="tag margin-5px">Tag 1</span>
                <span class="tag margin-5px">Tag 2</span>
            </div>
        </div>
        <h1 class="margin-1">Problem categories you tried</h1>
        <div class="height-200 text-container padding-1">
            <div class="overflow-y-scroll">
                <div class="dark-bg flex-container padding-1 round-border-8px space-between">
                    <h2 class="cursor-pointer" onclick="window.location.href='/Easy Problems/problems'">Easy Problems</h2>
                    <div class="flex-container space-between align-items-center" style="height: inherit; width: 220px;">
                        <div class="extra-dark-bg round-border-8px overflow-hidden" style="height: 100%; width: 100px">
                            <div class="light-bg" style="height:100%; width: 60%;"></div>
                        </div>
                        60/100 Solved
                    </div>
                </div>
                <div class="dark-bg flex-container padding-1 round-border-8px space-between margin-top-5px">
                    <h2 class="cursor-pointer" onclick="window.location.href='/Data Structure And Algorithm/problems'">Data Structure And Algorithm</h2>
                    <div class="flex-container space-between align-items-center" style="height: inherit; width: 220px;">
                        <div class="extra-dark-bg round-border-8px overflow-hidden" style="height: 100%; width: 100px">
                            <div class="light-bg" style="height:100%; width: 75%;"></div>
                        </div>
                        90/120 Solved
                    </div>
                </div>
            </div>
        </div>
        <h1 class="margin-1">
            Languages you've used
        </h1>
        <div class="flex-container">
            <div class="text-container flex-1 margin-1 dark-bg padding-1" style="min-width: 350px;">
                <h1>C++</h1>
                <h3 class="paddnig-1">75/100</h3>
                <div class="extra-dark-bg round-border-8px overflow-hidden" style="height: 5px;">
                    <div class="light-bg" style="height:100%; width: 75%;"></div>
                </div>
            </div>
            <div class="text-container flex-1 margin-1 dark-bg padding-1" style="min-width: 350px;">
                <h1>Python</h1>
                <h3 class="paddnig-1">25/100</h3>
                <div class="extra-dark-bg round-border-8px overflow-hidden" style="height: 5px;">
                    <div class="light-bg" style="height:100%; width: 25%;"></div>
                </div>
            </div>
        </div>
    </div>
</div>